{% extends "base.html" %}


{% block content %}
  <h1>Welcome to the kitchen service!</h1>
  <p>The Kitchen service has the following record counts:</p>
  <hr>
<div class="container" >
  <div class="row">
    <div class="col-md-4" >
      <h1><span class="counter">{{ num_cooks }}</span></h1>
      <h3>Cooks</h3>
      <i class="fa fa-users"></i>
    </div>
    <div class="col-md-4">
      <h1><span class="counter">{{ num_dishes }}</span></h1>
      <h3>Total Number of Dishes</h3>
      <i class="far fa-hamburger"></i>
    </div>
    <div class="col-md-4">
      <h1><span class="counter">{{ num_dish_types }}</span></h1>
      <h3>Dish Types</h3>
      <h3></h3>
      <i class="fas fa-bacon"></i>
    </div>
  </div>
</div>


{% endblock %}

